body{
    color: white;
    font-family: 'Roboto', sans-serif;

}
.container-fluid{
   max-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    background-color:#141922;
    height: calc(100vh - 90px); 
}

.sidebar{
    background-color:black;
    position: relative;
}
.logo-spotify{
    height: 100px;
    width: 100%;
}
#logo{
    height: 50px;
    position: fixed;
    top: 25px;
    left: 20px;
}
.upgrade{
    position: fixed;
    width: 100%;
    height: 100px;
    margin-bottom: 150px;
    background-color: rgba(0, 0, 0, 0.8);

}
#push{
    border-radius: 50px;
    height: 50px;
    width: 200px;
    border: 2px solid white;
    background-color: black;
    color: cornsilk;
    position: fixed;
    z-index:1001;
    right: 25px;
    top: 25px;
}
.content{
    background-color:#141922;
    height: 100%;
    overflow-y: scroll;
}
.clerfix::after{
    content: "";
    clear: both;
    display: table;
}
.fl{
    float: left;
}

.playlist li{
    padding: 5px 0px 5px 15px;   
}
h4{
    margin: 15px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.playlist ul{
    list-style: none;
    font-size: 15px;  
}
#stop{
    border-left: 2px solid green;
}
.artist{
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 90%;
    text-align: left;
    line-height: 30px;
    margin: 0 auto;
    padding-bottom: 3px;
}

.artist span{
    font-size: 10px;
    color: lightslategray;
}
.user{
    display: inline-block;
}
.menu{
    width: 70%;
    margin: 0 auto;
    margin-top: 110px;   
}
.menu li{
    font-size: 13px;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;   
}
.playlist img{
    height: 20px;
    vertical-align: middle;
}

.tracklist{
    padding: 15px;

}

.artisti{
    width:calc(100% / 6);
    text-align: center;
    margin-top: 20px; 
    padding: 5px;
}
.artisti img{
  width: 100%;    
}

.mixed{
    height: 300px;
    width: 300px; 
    margin-bottom:5px;
    margin-top: 30px;
}
.popular{
    height: 300px;
    width: 300px;
    
}

#einaudi{
    border-radius: 100px;
}
.titolo{
    margin: 10px;
}

/*FOOTER */
footer{
    background-color: #282828;
    height: 90px;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
}
footer ul{
    display: flex; 
    align-items: center;

}
footer li{
    list-style: none; 
}
.song{
    font-weight: bolder;
}
footer i {
    margin: 10px;
}
.first{
    border:2px solid white;
    font-size: 15px;
}
.first img{
    height: 60px;
    margin: 15px;
}


.second{
    height: 60px;
    border: 3px solid red;
}
.third{
    height: 60px;
    border: 3px solid yellow;
}
/* END FOOTER */