body{
    color: white;
    font-family: 'Roboto', sans-serif;

}
.container-fluid{
   max-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    background-color:#141922;
    height: calc(100vh - 90px); 
}
.content{
    background-color:#141922;
    height: 100%;
    overflow-y: scroll;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.fl{
    float: left;
}
/*LOGO*/
.logo-spotify{
    height: 100px;
    width: 100%;
}
#logo{
    height: 50px;
    margin-top: 20px;
}
/*BUTTON*/
.upgrade{
    position: fixed;
    width: 100%;
    height: 100px;
    margin-bottom: 150px;
    background-color: rgba(0, 0, 0, 0.8);
}
#push{
    border-radius: 50px;
    height: 50px;
    width: 200px;
    border: 2px solid white;
    background-color: black;
    color: cornsilk;
    position: fixed;
    z-index:1001;
    right: 25px;
    top: 25px;
}
/*SIDEBAR*/

.sidebar{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    justify-content: space-between;
    background-color:black;
}
.top-playlist{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-shrink: 0; 
}
.top-playlist li{
    padding: 5px 0px 5px 5px; 
    list-style: none;  
}

.top-playlist li:first-child{
    font-weight:bolder;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#stop{
    border-left: 2px solid green;
}

.top-playlist img{
    height: 20px;
    vertical-align: middle;
   
}
.central-playlist{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 5px;
    line-height: 25px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
}

.central-playlist h4{
    margin: 5px;
}
.central-playlist i{
    font-size: 25px;
}
.central-playlist li:first-child{
    font-size: 15px;
    font-size: medium;
    font-weight: bolder;
}
.central-playlist ul{
    list-style: none;
    font-size: 13px;
}

.bottom-playlist{
   flex-direction: column;
   flex-shrink: 0;
    width: 90%; 
    margin-bottom: 10px; 
}
.bottom-playlist span{
    font-size: small;
}
.bottom-playlist i:first-child{
    font-size: 10px;
    color: lightslategray;
}
.bottom-playlist i{
    font-size: 15px;
}
.user{
    display: inline-block;
    font-size: 15px;
}
/*END SIDEBAR*/

/*SECTION ALBUM*/
.menu{
    width: 50%;
    margin: 0 auto;
    margin-top: 110px;   
}
.menu li{
    font-size: 13px;
    font-weight: bolder;
    color: lightslategray;
}
#choose{
    border-bottom: 2px solid green;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;   
}

.tracklist{
  margin: 25px;
}

.artisti{
    width:calc(100% / 6);
    text-align: center;
    margin-top: 30px; 
    padding: 5px;
}
.artisti img{
  width: 100%;    
}
.artisti > h6{
    color: lightslategray;
    padding-top: 5px;
}

.mixed , .popular{
    height: 50px;
    width: 100%; 
}

#einaudi{
    border-radius: 100px;
}
.titolo{
    margin: 15px;
}

.mixed > h6{
    color: lightslategray;
}
.popular > h6{
    color: lightslategray;
}
/*END SECTION ALBUM/*

/*FOOTER */
footer{
    background-color: #282828;
    height: 90px;
    display: flex;
}

.player-album , .player-audio{
    flex-basis: 230px;
    /*height: 100%;*/
} 
.player-controller{
    height: 100%;
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
 
    padding: 0 10px;
}
.player-controller-icons i{

   
    margin: 10px;
    font-size: 15px;
}
.player-controller-icons i:nth-child(3){
    font-size: 25px;
}
.bar-time{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
.time{
    margin-right: 10px;
    margin-left: 10px;
}
.slider {
    margin-bottom: 10px; 
    width: 400px;  
  }
.player-album{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}
.player-album-cover{
    width: 20%;

}
.player-album-title{
    width: 50%;
}
.player-album-title h2{
    font-size: 12px;
}
.song{
    font-size: 10px;
}
.player-album-icons{
    width: 30%;
    font-size: 15px;
    padding: 10px;
}
.player-album-cover img{
    width: 100%;
}
.player-audio{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.player-audio-icons i{
    font-size: 15px;
    margin: 3px;
}
.bar{
    width: 150px;
}
/* END FOOTER */